<div class="title-board-container">
  <div class="title-container">
    <div class="title-text">
      <%= image_tag "free_images/logo.png" %>
    </div>
    <div class="title-jp">トピックボード</div>
    <% unless current_user %>
      <div class="top-page-login-container">
        <%= link_to "ログイン", login_path, id: "login-button" %>
      </div>
    <% end %>
  </div>
  <%= render "shared/search_form_container" %>
  <div class="title-board-content-wrapper">
    <% @boards.each do |board| %>
      <%= link_to board_path(board) do %>
        <div class="title-board-content anim-box poyopoyo <%= board_color(board) %>" id="title-board-content-<%= board.id %>">
          <%= board.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="boards-list hidden">
  <% @all_boards.each do |board| %>
    <span id="hidden-board-<%= board.id %>" class="list-child"><%= board.title %></span>
  <% end %>
</div>
