<div class="title-board-container">
  <div class="title-container">
    <div class="title-logo-container">
      <div class="title-text clickable" id="title-text">
        <%= image_tag "free_images/logo.png" %>
        <div class="title-jp">〜つながる知識、広がる世界〜</div>
      </div>
    </div>
    <%= render "static_pages/tutorial_box" %>
    <div class="google-login-container">
      <% unless current_user %>
        <div class="top-page-login-container">
          <%= render "shared/google_button" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="title-search-container">
    <%= render "shared/search_form_container" %>
  </div>
  <div class="title-board-content-wrapper">
    <% @boards.each_with_index do |board, index| %>
      <%= link_to board_path(board) do %>
        <div class="title-board-content anim-box poyopoyo <%= board_color(board) %>" id="title-board-content-<%= index + 1 %>" data-index="<%= index + 1 %>">
          <%= board.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="boards-list hidden">
  <% @all_boards.each do |board| %>
    <span id="hidden-board-<%= board.id %>" class="list-child"><%= board.title %></span>
  <% end %>
</div>
