<div class="reply-container" id="reply-container">
  <%= link_to board_path(board), class: "check-icon" do %>
    <i class="bi bi-x-circle-fill"></i>
  <% end %>
  <div class="reply-label">
    <%= link_to user_path(comment.user_id) do %>
      <% if comment.user.avatar_image.attached? %>
        <%= image_tag comment.user.avatar_image, class: "avatar-image" %>
      <% else %>
        <i class="bi bi-person-circle avatar-icon"></i>
      <% end %>
      <div class="to-comment-user"><%= comment.user.user_name %></div>
    <% end %>
    <div class="to-comment"><%= comment.body %></div>
    <div class="to-comment-label">このコメントに返信</div>
  </div>
  <div class="reply-form-container">
    <div class="reply-form">
      <%= form_with model: [board, comment, reply] do |f| %>
        <%= f.text_area :body %>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>

<style>
@media(min-width: 900px){
  .reply-container {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50%;
    background: white;
    border-radius: 30px;
    z-index: 200;
  }
  .check-icon {
    position: relative;
    top: 5%;
    right: -40%;
    color: pink;
    font-size: 30px;
  }
  .reply-label {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reply-label a {
    text-decoration: none;
    color: black;
  }
  .reply-label a:hover {
    font-weight: bold;
    color: #ddd;
  }
  .avatar-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  }
  .avatar-icon {
    font-size: 40px;
    color: #aaa;
  }
  .to-comment {
    border-bottom: 2px solid #ddd;
  }
  .reply-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    margin-bottom: 20px;
  }
  .reply-form input {
    display: block;
    margin: auto;
  }
  .reply-form textarea {
    min-width: 100px;
    min-height: 100px;
    white-space: pre-wrap; /* 改行と折り返しをサポート */
    word-wrap: break-word; /* 長い単語も折り返す */
    overflow-wrap: break-word;
    width: 400px;
    height: 300px;
    resize: none;
    border-radius: 20px;
    border: 2px solid #ddd;
    font-size: 30px;
  }
  .reply-form input[type="submit"] {
    width: 100px;
    border: none;
    background: pink;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    opacity: 0.8;
  }
  .reply-form input[type="submit"]:hover {
    font-weight: bold;
    opacity: 1;

  }
} 
</style>