<div class="secret-question-title">
  <p>パスワードをリセットするには、ユーザー登録時に設定した</p>
  <p class="content">メールアドレス/秘密の質問/質問の答え</p>
  <p>を入力してください。</p>
</div>
<div class="secret-question-container">
  <%= form_with url: password_resets_path, data: { turbo_method: :post }, local: true do |f| %>
    <div class="form-group">
      <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
    </div>
    <div class="form-group">
      <%= f.select :security_question_id,
          options_from_collection_for_select(SecurityQuestion.all, :id, :question_text),
          class: "form-control" %>
      <%= f.text_field :security_answer, class: "form-control", placeholder: "秘密の質問の答え" %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary", id: "security-question-submit" %>
    </div>
  <% end %>
</div>
<div class="recommend-link">
  <%= link_to "ログインページに戻る", login_path %>
</div>
