<div class="reply-container">
  <div class="reply-label">
    <%= link_to "削除", board_comment_path(board, comment), data: { turbo_method: :delete} %>
    <%= link_to user_path(comment.user_id) do %>
      <% if comment.user.avatar_image.attached? %>
        <%= image_tag comment.user.avatar_image, class: "avatar-image" %>
      <% else %>
        <i class="bi bi-person-circle avatar-icon"></i>
      <% end %>
      <div class="to-comment-user"><%= comment.user.user_name %></div>
    <% end %>
    <div class="to-comment"><%= comment.body %></div>
    <div class="reply-wrapper">
      <div id="reply-table-<%= comment.id %>">
        <% comment.replies.order(created_at: :desc).each do |reply| %>
          <%= render "replies/reply", board: board, comment: comment, reply: reply %>
        <% end %>
      </div>
    </div>
    <div class="to-comment-label" id="to-comment-<%= comment.id %>">このコメントに返信</div>
  </div>
  <div class="reply-form-container" id="reply-hundler-<%= comment.id %>">
      <%= render "replies/form", board: board, comment: comment, reply: @reply %>
  </div>
</div>
