<div class="reply-container" id="reply-container-<%= comment.id %>">
  <div class="reply-label">
    <%= link_to user_path(comment.user_id) do %>
      <% if comment.user.avatar_image.attached? %>
        <%= image_tag comment.user.avatar_image, class: "avatar-image" %>
      <% else %>
        <i class="bi bi-person-circle avatar-icon"></i>
      <% end %>
      <div class="to-comment-user"><%= comment.user.user_name %></div>
    <% end %>
    <% if current_user && current_user != User.find(comment.user_id) %>
      <div class="report-link">
        <%= link_to new_comment_report_report_path(board.id, comment_id: comment.id), id: "comment-report-link-#{comment.id}" do %>
          <i class="bi bi-flag-fill"></i>
        <% end %>
      </div>
    <% end %>
    <div class="comment-reply-container">
      <%= render "comments/edit_comment_wrapper", board: board, comment: comment %>
      <div class="reply-wrapper">
        <div id="reply-table-<%= comment.id %>">
          <% comment.children.order(created_at: :desc).each do |child| %>
            <%= render "comments/reply", board: board, comment: comment, reply: child %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="to-comment-label <%= "func-icon" unless current_user %>" id="<%= "to-comment-#{ comment.id }" if current_user %>" data-comment-id="<%= comment.id %>">コメントに返信する</div>

  </div>
  <div class="reply-form-container" id="reply-hundler-<%= comment.id %>">
      <%= render "comments/reply_form", board: board, parent: comment, reply: Comment.new %>
  </div>
</div>
