<div id="edit-comment-wrapper-<%= comment.id %>">
  <%= turbo_frame_tag id="edit-comment-#{ comment.id }" do%>
    <div class="to-comment"><%= simple_format(comment.body) %></div>
    <% if current_user && current_user == User.find(comment.user_id) %>
      <div class="comment-links">
        <%= link_to "編集", edit_board_comment_path(board, comment), class: "btn btn-outline-success comment-delete-edit-button", remote: true %>
        <%= link_to "削除", board_comment_path(board, comment), class: "btn btn-outline-danger comment-delete-edit-button", data: { turbo_method: :delete, turbo_confirm: 'コメントを削除してよろしいですか？'}, remote: true %>
      </div>
    <% end %>
  <% end %>
</div>
