<div class="reply-content" id="reply-<%= reply.id %>">
  <%= link_to user_path(reply.user_id) do %>
    <% if reply.user.avatar_image.attached? %>
      <%= image_tag reply.user.avatar_image, class: "avatar-image" %>
    <% else %>
      <i class="bi bi-person-circle avatar-icon"></i>
    <% end %>
    <div class="to-comment-user"><%= reply.user.user_name %></div>
  <% end %>
  <%= render "comments/edit_comment_wrapper", board: board, comment: reply %>
</div>
