<h1>タスク一覧</h1>
<% if logged_in? %>
  <p>ログイン中のユーザー：<%= current_user.user_name %></p>
<% else %>
  <p>ゲストユーザー</p>
<% end %>
<h2>今日のタスク達成率 <%= @achievement %> % </h2>
<div class="mb-3">
  <%= link_to "タスクを作成する", new_task_path %>
  <%= link_to "ホーム", home_pages_path %>
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q %>
    </div>
  </div>
</div>
<% if @tasks %>
  <% @tasks.each do |task| %>
    <% if (logged_in? && current_user.id == task.user_id) || task.public_access? %>
      <div class=" border border-primary">
        <div class="task-index m-2">
          <% if logged_in? && current_user.id == task.user_id %>
            <%= link_to achieve_task_task_path(task.id), data: { turbo_method: :patch }, class: "task-title" do %>
              <% if task.done? %>
                <h3><i class="bi bi-circle-fill"></i></h3>
              <% else %>
                <h3><i class="bi bi-circle"></i></h3>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="task-index m-2">
          <%= link_to task_path(task.id), class: "task-title" do %>
            <h3>
              <%= task.title %>
            </h3>
          <% end %>
        </div>
        <span><<%= I18n.t("enums.task.progress_status.#{task.progress_status}") %>></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><%= current_user.user_name %>さまのタスクはありません</p>
<% end %>
<style>
  .bi-circle:hover {
  color: skyblue;
};
</style>


