<h1>タスク一覧</h1>
<div id="achievement-rate"><span id="ahievement-rate-label">現在のタスク達成率</span> <span id="achievement-rate-number"><%= @achievement %></span> % </div>
<div id="point"><span id="point-label">現在のポイント</span><span id="point-number"><%= @point.current_point %></span>ポイント</div>
<div class="mb-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <%= render 'search_form', q: @q %>
    </div>
  </div>
</div>
<div class="whole-wrapper">
  <div class="container">
    <% if @object_locations %>
      <% @object_locations.each do |ol| %>
        <%= image_tag "#{ol.city_object.object_image}", id: "object-location-#{ol.location.id}" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if @tasks %>
  <% @tasks.each do |task| %>
    <% if (logged_in? && current_user.id == task.user_id) || task.public_access? %>
      <div class=" border border-primary">
        <p id="task-user-name">
          <%= User.find(task.user_id).user_name %>
        </p>
        <div class="task-index m-2">
          <% if logged_in? && current_user.id == task.user_id %>
            <%= link_to achieve_task_task_path(task.id), data: { turbo_method: :patch }, class: "task-title" do %>
              <% if task.done? %>
                <h3><i class="bi bi-circle-fill"></i></h3>
              <% else %>
                <h3><i class="bi bi-circle"></i></h3>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="task-index m-2">
          <%= link_to task_path(task.id), class: "task-title" do %>
            <h3>
              <%= task.title %>
            </h3>
          <% end %>
        </div>
        <span><<%= I18n.t("enums.task.progress_status.#{task.progress_status}") %>></span>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p><%= current_user.user_name %>さまのタスクはありません</p>
<% end %>

<style>
 
  .container {
    position: relative;
  }
  #object-location-1 {
    position: absolute;
    left: 300px;
    top: 200px;
    width: 180px;
  }
  #object-location-2 {
    position: absolute;
    left: 400px;
    top: 200px;
    width: 180px;
  }
  #object-location-3 {
    position: absolute;
    left: 300px;
    top: 400px;
    width: 180px;
  }
  #object-location-4 {
    position: absolute;
    left: 400px;
    top: 400px;
    width: 180px;
  }
  #object-location-5 {
    position: absolute;
    left: 200px;
    top: 300px;
    width: 180px;
  }
  #object-location-6 {
    position: absolute;
    left: 600px;
    top: 400px;
    width: 180px;
  }
  #object-location-7 {
    position: absolute;
    left: 500px;
    top: 250px;
    width: 180px;
  }
  #object-location-8 {
    position: absolute;
    left: 300px;
    top: 350px;
    width: 180px;
  }
</style>

<!-- 以下、タスク一覧のスタイル !-->
<style>
  #achievement-rate {
    float: right;
    margin: 5px;
  }
  #achievement-rate-label {
    font-size: 12px;
  }
  #achievement-rate-number {
    font-size: 25px;
    font-weight: bold;
  }
  #task-user-name {
    margin:1px;
  }

</style>


<!-- アイソメトリック用
<style>
  body {
    overflow: hidden;
  }
  @media (min-width: 1024px){
    .whole-wrapper {
      height: 1500px;
      position: relative;
      height: 100vh;
      bottom: 150px;
    }
    #building-1 {
      position: absolute;
      top: 200px;
      left: 500px;
    }
    #building-2 {
      position: absolute;
      top: 500px;
      left: 800px;
    }
  }
</style>
!-->
<!-- ここから　!
<style>
  
  .sky-container {
    height: 300px;
    position: relative;
  }
  .cloud-image-1 {
    position: absolute;
    width: 300px;
    top:150px;
  }
  .cloud-image-2 {
    position: absolute;
    width: 500px;
    top:0px;
    left: 600px;
    margin: -80px;
  }
  .title-wrapper {
    text-align: center;
    position:relative;
    top:300px;
  }
  .link-tag {
    text-decoration: none;
  }
  @media (min-width: 1024px) {
    .object_wrapper {
      padding-top: 180px;
      display: flex;          /* フレックスボックスで横並び */
      flex-wrap: wrap;        /* 行がいっぱいになったら改行 */
      gap: 20px;              /* 各オブジェクト間のスペース */
      justify-content: start;
      align-content: flex-start;
    }
    .object_container {
      width: calc(9%); /* 10個並べるために幅を設定（-10px は gap の調整） */
      text-align: center;      /* 中央揃え（必要に応じて変更可） */
      padding: 5px;
      align-self: flex-end;        /* 内側の余白 */
    }
    .task-title {
      margin-bottom: 0px;
      padding-bottom: 2px;
      height: 20px;
      text-decoration: none;
      font-weight: bold;
      background-color: white;
    }
    .task-check-mark {
      height: 20px;
    }
    .object_image {
      width: 160px;
      margin: 6px;
    }
  }
</style>
!-->

<!-- ここまで　!-->


