<div class="mypage-header">
  <div class="user-profile">
    <div class="users-info">
      <div class="users-avatar-image">
        <% if @user.avatar_image.attached? %>
          <%= image_tag @user.avatar_image %>
        <% else %>
          <%= image_tag "free_images/user_icon_4.png" %>
        <% end %>
      </div>
      <div class="users-name">
        <%= @user.user_name %>
      </div>
      <div class="setting">
        <% if current_user&.id == @user.id %>
          <%= link_to "プロフィールを編集", edit_user_path(@user), id: "users-setting" %>
        <% end %>
      </div>
    </div>
    <div class="users-intro" id="users-intro">
      <%= @user.profile %>
    </div>
  </div>
  <div class="users-logs">
    <div class="log-items">
      <p class="log-label">チェックしたトピック数：</p>
      <p class="log-value"><%= @visited_boards_count %></p>
    </div>
    <div class="log-items">
      <p class="log-label">貢献したトピック数：</p>
      <p class="log-value"><%= @logs_with_boards.count %></p>
    </div>
    <div class="log-items">
      <p class="log-label">お気に入りのトピック数：</p>
      <p class="log-value"><%= Like.where(user_id: @user.id).count %></p>
    </div>
    <div class="log-items">
      <p class="log-label">投稿したコメント数：</p>
      <p class="log-value"><%= Comment.where(user_id: @user.id).count %></p>
    </div>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function () {
    const usersIntro = document.getElementById("users-intro");
    const usersSetting = document.getElementById("users-setting");
    const userSettingLink = document.getElementById("users-setting");
    const settingContainer = userSettingLink?.parentElement;

    if (usersIntro) {
      const introText = usersIntro.textContent.trim(); ;
      if (introText.length > 0) {
        usersIntro.style.borderBottom = "2px solid #ddd";
      } else {
      usersIntro.style.borderBottom = "none";
      };
    };

    if (userSettingLink && settingContainer) {
      settingContainer.classList.add("active");
    };
  });

</script>

<style>
.mypage-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  border: 3px solid #ddd;
  min-width: 300px;
}
@media (min-width: 900px){
  .mypage-header{
    padding: 20px 15%;
  }
  .user-profile {
  padding-left: 20px;
  }
}

.user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px
}
.users-avatar-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.users-avatar-image img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  margin: auto;
  display: block;
  border-radius: 50%;
}
.users-info .setting {
  border-radius: 20px;
  padding: 5px;
}
.users-info .setting.active {
  background: #ddd;
}
.users-info .setting a {
  text-decoration: none;
  color: black;
}
.users-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  word-wrap: break-word;
  word-break: break-word;
  overflow: auto;
  flex-wrap: wrap;
  padding: 20px;
  margin: auto;
}
.users-name {
  max-width: 300px;
  font-size: 30px;
  word-wrap: break-word;
  word-break: break-word;

}
.users-logs {
  min-width: 300px;
}
.users-logs p {
  padding: 10px 10px 0px 10px;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
}
.log-items {
  display: flex;
  justify-content: space-between;
  background:rgb(70, 70, 70);
  border-radius: 5px;
  margin: 5px;
  align-items: center;
  border-bottom: 4px inset #FF9226;
}
.log-label {
  text-align: left;
}
.log-value {
  text-align: right;
}

</style>
