<% if @user.errors.present? %>
  <%= turbo_stream.replace "users-form-container" do %>
    <%= render 'users/user_form_container', user: @user %>
  <% end %>
<% end %>
<%= turbo_stream.remove "replace-flash-message" %>
 
<%= turbo_stream.append "error-messages" do %>
  <div id="replace-flash-message">
    <% if flash.now[:success] %>
      <div class="alert-label">Wクリックで削除</div>
      <div class="alert alert-success flash-message">
        <%= flash.now[:success] %>
      </div>
    <% end %>
  </div>
<% end %>