<div class="header-wrapper">
  <div class="logo">
    <%= link_to root_path do %>
      Roots
    <% end %>
  </div>
  <div class="search-form-container">
    <%= render "shared/search_form", q: @q %>
  </div>
  <% if current_user %>
    <div class="mypage-container" id="mypageContainer">
      <span class="header-user-name"><%= current_user.user_name %>さん</span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete } %></li>
          <li><%= link_to "マイページ", user_path(current_user) %></li>
          <li><%= link_to "ユーザー情報", show_profile_user_path(current_user) %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="mypage-container" id="mypageContainer">
      <span class="user-title header-text">ゲストユーザー</span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ユーザー登録", new_user_path %>
          <li><%= link_to "ログイン", login_path, class: "login-text" %></li>
          <li><%= link_to "トップ", root_path %></li>
        </ul>
      </div>
    </div>
  <% end %> 
</div>
<!--ユーザーネームをマウスオーバーでプルダウン表示 !-->
<script>
  document.addEventListener('turbo:load', function() {
    const mypageContainer = document.getElementById('mypageContainer');
    const mypageDropdown = document.querySelector('.mypage-dropdown');

    if (mypageContainer) {
      
      mypageContainer.addEventListener('mouseover', function() {
        mypageDropdown.style.display = 'block'
        event.stopPropagation(); // キャプチャおよびバブリング段階において現在のイベントのさらなる伝播を阻止
      });

      document.addEventListener('click', function() {
        mypageDropdown.style.display = 'none';
      });
    }
  });
</script>
<style>
<%# 全体のボーダーを表示・スクロールバーを非表示%>
* {
  /*outline: 2px solid blue;*/
  scrollbar-width: none;
}
</style>
<!-- プルダウン !-->
<style>
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    height: 70px;
    background: #333;
    position: relative;
    min-width: 300px;
    border-bottom: 2px solid #ddd;
  }
  .search-form-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .header-content a:hover {
    color: rgba(233, 155, 0, 0.946);
  }
</style>
<style>
  
  .header-user-name {
    font-size: 20px;
    margin: auto;
    position: absolute;
    right: 5%;
    color: white;
    cursor: pointer;
  }
  .mypage-dropdown {
    display: none; /* 初期状態では非表示 */
    position: absolute; /* 親要素に対して絶対位置 */
    top: 30px; /* 親要素の真下に配置 */
    right: 0; /* 右揃え */
    background-color: #fff; /* 背景色を白に設定 */
    border: 1px solid #ccc; /* 境界線を設定 */
    border-radius: 4px; /* 角を丸く */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 軽い影を追加 */
    z-index: 1000; /* 他の要素の上に配置 */
    min-width: 150px; /* 最小幅を指定 */
    
  }
  .mypage-dropdown a {
    color: #5c3e26;
    text-decoration: none;
  }
  .mypage-dropdown ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 5px;
  }
  .mypage-dropdown li {
    text-align: left;
  }
  .mypage-dropdown ul li a:hover {
    background-color: #f0f0f0; /* ホバー時の背景色 */
    color: #007bff; /* ホバー時のリンク色 */
  }
</style>
<style>
  
  .logo a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  .logo img {
    object-fit: contain;
    margin-left: 50px;
    width: 50px;
  }
</style>
