<div class="header-wrapper">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "free_images/logo_b.png", class: "title-logo-image" %>
    <% end %>
  </div>
  <%= render "shared/search_form_container" %>
  <% if current_user %>
    <div class="mypage-container" id="mypageContainer">
      <span class="header-user-name" id="header-user-name"><%= current_user.user_name %></span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ログアウト", logout_path, id: "header-logout",  data: { turbo_method: :delete } %></li>
          <li><%= link_to "マイページ", visited_boards_user_path(current_user), id: "header-mypage" %></li>
          <li><%= link_to "ユーザー情報", show_profile_user_path(current_user), id: "header-user-info" %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="mypage-container" id="mypageContainer">
      <span class="header-user-name">ゲストユーザー</span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ユーザー登録", new_user_path %>
          <li><%= link_to "ログイン", login_path, class: "login-text" %></li>
          <li><%= link_to "トップ", root_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<div class="boards-list hidden">
  <% @all_boards.each do |board| %>
    <span id="hidden-board-<%= board.id %>" class="list-child"><%= board.title %></span>
  <% end %>
</div>
