<div class="header-wrapper">
  <div class="logo">
    <ul>
      <li>Share</li>
      <li>Puchi</li>  
      <li>Happy</li>
    </ul>
  </div>
  <% if current_user %>
    <div class="mypage-container" id="mypageContainer">
      <span class="header-user-name"><%= current_user.user_name %>さん</span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "header-content login-text" %></li>
          <li><%= link_to "新規投稿", new_board_path, class: "header-content" %></li>
          <li><%= link_to "投稿一覧", boards_path, class: "header-content" %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <div id="mypageContainer">
      <span class="user-title header-text">ゲストユーザー</span>
      <div class="mypage-dropdown" id="mypageDropdown">
        <ul>
          <li><%= link_to "ユーザー登録", new_users_path %>
          <li><%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "header-content header-text login-text" %></li>
          <li><%= link_to "トップ", root_path, class: "header-content header-text" %></li>
        </ul>
      </div>
    </div>
  <% end %> 
</div>
<!--ユーザーネームをマウスオーバーでプルダウン表示 !-->
<script>
  document.addEventListener('turbo:load', function() {
    const mypageContainer = document.getElementById('mypageContainer');
    const mypageDropdown = document.querySelector('.mypage-dropdown');

    if (mypageContainer) {
      
      mypageContainer.addEventListener('mouseover', function() {
        mypageDropdown.style.display = 'block'
      });

      mypageContainer.addEventListener('mouseout', function() {
        mypageDropdown.style.display = 'none';
      });
    }
  });
</script>
<!-- プルダウン !-->
<style>
  .header-wrapper {
    height: 70px;
    margin: 0;
    padding: 0;
    background-color: pink;
  }
  .header-content {
    text-decoration: none;
  }
  .header-content:hover {
    color: rgba(233, 155, 0, 0.946);
  }
</style>
<style>
  .mypage-container {
    position: relative;
    padding-left: 20px;
  }
  .header-user-name {
    font-size: 20px;
    margin: auto;
    position: absolute;
    right: 5%;
  }
  .mypage-dropdown {
    display: none;
    position: absolute;
    right: 1%;
    width: 10%;
    top: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999; 
  }
  .mypage-dropdown a {
    color: #5c3e26;
    text-decoration: none;
  }
  .mypage-dropdown ul {
    list-style: none;
    margin: 0 auto;
    padding: 0 5px;
    display: inline-block;
  }
  .mypage-dropdown li {
    text-align: left;
  }
</style>
<style>
  .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 20px;
  }
  .logo ul {
    list-style: none;

  }
  .logo li {
    font-weight: bold;
  }
</style>
