<div class="header-wrapper">
  <% if current_user %>
    <span class="username-honorific">ログイン中のユーザー：</span><%= current_user.user_name %><span class="username-honorific">さん</span>
  <% else %>
    <span class="user-title">ゲストユーザー</span>
  <%end %>
  <div class="header-body">
    <% unless current_user %>
      <%= link_to "トップ", root_path, class: "header-content" %>
    <% end %>
    <%= link_to "ホーム", home_pages_path, class: "header-content" %>
    <% if current_user %>
      <%= link_to "タスクの作成", new_task_path, class: "header-content" %>
    <% end %>
    <%= link_to "タスク一覧", tasks_path, class: "header-content" %>
    <% if current_user %>
      <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete }, class: "header-content" %>
    <% else %>
      <%= link_to "ログイン", login_path, class: "header-content" %>
    <% end %>
  </div>
</div>

<style>

  .username-honorific {
    font-size: 12px;
  }
  .header-wrapper {
    background-color: rgba(240, 240, 240);
    padding: 3px;
  }
  .header-body {
    float: right;
  }
  .header-content {
    text-decoration: none;
  }
  .header-content:hover {
    color: rgba(233, 155, 0, 0.946);
  }
</style>
