<div class="sub-footer-menu-wrapper" id="sub-footer-menu">
  <div class="sub-footer-menu">
    <% if current_user %>
      <span><%= link_to "ログアウト", logout_path, id: "sub-footer-logout", data: { turbo_method: :delete } %></span>
      <span><%= link_to "マイページ", visited_boards_user_path(current_user) %></span>
      <span><%= link_to "ユーザー情報", show_profile_user_path(current_user) %></span>
    <% end %>
  </div>
</div>

<div class="sub-footer-lists-wrapper" id="sub-footer-lists">
  <div class="sub-footer-lists">
    <span><%= link_to "利用規約", terms_of_service_path, target: :_blank %></span>
    <span class="privacy-policy"><%= link_to "プライバシーポリシー", privacy_policy_path, target: :_blank %></span>
    <span><%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLScyWfOx1ezyRz_1TFlh-1Wk5AGrRsgfAYAsu9rCogQTzfLwsA/viewform?usp=header", target: :_blank %></span>
  </div>
</div>

<div class="sub-footer-content">
  <span id="sub-footer-list"><i class="bi bi-list"></i></span>
  <%= link_to root_path do %>
    <span id="sub-footer-logo">
      <%= image_tag "free_images/logo_b.png" %>
    </span>
  <% end %>
    <% if current_user %>
      <span id="sub-footer-icon"><i class="bi bi-person-circle"></i></span>
    <% else %>
      <span id="sub-footer-google"><%= render "shared/google_icon" %></span>
    <% end %>
</div>
