<div class="admin admin-container">
  <div class="admin-content">
    <div class="admin-title">
      <%= link_to admin_board_path(@board) do %>
        <%= @board.title %>
      <% end %>
      <p class="sub-title">変更履歴</p>
    </div>  
    <div class="board-info-container">
      <% if @board_logs.empty? %>
        <div class="no-content">まだ変更はありません</div>
      <% else %>
        <table class="table table-striped fixed-table parent">
          <thead>
            <tr>
              <th class="col-username">ユーザー名</th>
              <th class="col-target">対象</th>
              <th class="col-action">アクション</th>
              <th class="col-timestamp">投稿日時</th>
            </tr>
          </thead>
          <tbody>
            <% @board_logs.each do |log| %>
              <tr>
                <td>
                  <%= link_to user_path(log.user), class: "cell-link" do %>
                    <%= log.user.user_name %>
                  <% end %>
                </td>
                <td>
                    <% if log.frame %>
                      <%= link_to admin_board_frame_path(log.board, log.frame), class: "cell-link" do %>
                        フレーム<%= log.frame.frame_number %>
                      <% end %>
                    <% else %>
                      <%= link_to admin_board_path(log.board), class: "cell-link" do %>
                        トピック
                      <% end %>
                    <% end %>
                </td>
                <td><%= I18n.t("enums.board_log.action_type.#{log.action_type}") %></td>
                <td><%= log.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
