<div class="admin admin-boards-wrapper">
  <div class="admin-content">
    <div class="admin-title">トピック</div>
    <% if @boards.empty? %>
      トピックがありません
    <% else %>
      <table class="table table-striped fixed-table">
        <thead>
          <tr>
            <th class="col-title">タイトル</th>
            <th class="col-timestamp">投稿日時</th>
            <th class="col-parent-id">親ID</th>
          </tr>
        </thead>
        <tbody>
          <% @boards.each do |board| %>
            <tr>
              <td>
                <%= link_to admin_board_path(board), class: "cell-link" do %>
                  <%= board.title %></td>
                <% end %>
              <td><%= board.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
              <td>
                <% if board.parent_id %>
                  <%= link_to admin_board_path(board.parent_id), class: "cell-link" do %>
                    <%= board.parent_id %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
  <%= paginate @boards %>
</div>
