<div class="admin admin-container">
  <div class="admin-content">
    <div class="admin-title">
      <div class="sub-title">
        <%= link_to admin_boards_path, class: "cell-link" do%>  
          トピック
        <% end %>
      </div>
      <div class="sub-title"><%= @board.title %></div>
    </div>
    <div class="board-options">
      <p><%= link_to "変更履歴", board_info_admin_board_path(@board) %></p>
      <p><%= link_to "フレーム", admin_board_frames_path(@board) %></p>
      <p><%= link_to "コメント", admin_board_comments_path(@board) %></p>
      <p><%= link_to "報告", admin_reports_path(board_id: @board) %></p>
      <%= link_to "トピックを削除", admin_board_path(@board), data: { turbo_method: :delete }, class: "btn btn-outline-danger button" %>
    </div>
  </div>
</div>
