<h1>みんなの街</h1>
<div class="image-wrapper">
  <%= image_tag "city_objects/building_1.jpeg", size: "120x120", class: "image-content", id: "building_1" %>
  <%= image_tag "city_objects/tower_1.png", size: "120x120", class: "image-content", id: "tower_1" %>
  <%= image_tag "city_objects/house_1.png", size: "120x120", class: "image-content", id: "house_1" %>
  <%= image_tag "city_objects/building_1.jpeg", size: "120x120", class: "image-content", id: "building_2" %>
  <%= image_tag "city_objects/tower_1.png", size: "120x120", class: "image-content", id: "tower_2" %>
  <%= image_tag "city_objects/house_1.png", size: "120x120", class: "image-content", id: "house_2" %>
  <%= image_tag "city_objects/building_1.jpeg", size: "120x120", class: "image-content", id: "building_3" %>
  <%= image_tag "city_objects/tower_1.png", size: "120x120", class: "image-content", id: "tower_3" %>
  <%= image_tag "city_objects/house_1.png", size: "120x120", class: "image-content", id: "house_3" %>
</div>
<style>
  .image-wrapper {
    position: relative;
    left:100px;
  }
  #building_1 {
    position: absolute;
    top:50px;
    left:0px;
  }
  #tower_1 {
    position: absolute;
    top:200px;
    left:0px;
  }
  #house_1 {
    position: absolute;
    top:400px;
    left:0px;
  }
  #building_2 {
    position: absolute;
    top:50px;
    left:400px;
  }
  #tower_2 {
    position: absolute;
    top:200px;
    left:400px;
  }
  #house_2 {
    position: absolute;
    top:400px;
    left:400px;
  }
  #building_3 {
    position: absolute;
    top:50px;
    left:800px;
  }
  #tower_3 {
    position: absolute;
    top:200px;
    left:800px;
  }
  #house_3 {
    position: absolute;
    top:400px;
    left:800px;
  }
 
</style>