<div class="scroll-area">
  <div class="scroll-content">
    <div class="board-items">
      <% if board.image.attached? %>
        <div class="board-image"><%= image_tag board.image %></div>
      <% end %>
    </div>
  </div>
  <%= link_to user_path(board.user_id) do %>
    <div class="comment-marquee">
      <div class="comment-track">
        <% @boards.each do |board| %>
          <span class="comment-item"><i class="bi bi-emoji-sunglasses-fill"></i></span>
          <span class="comment-item board-user-name"><%= board.user.user_name %></span>
          <span class="comment-item">最近寒すぎて焼き芋食べたい</span>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="board-body">
    <%= link_to board_path(board)  do %>
      <%= board.body %>
    <% end %>
  </div>
</div>

