<div class="wrapper">  
  <div class="scroll-content">
    <div class="container">
      <% @frames.each do |frame| %>
        <div class="section">
          <div class="frame-number">
            <% total_number = @frames.size %>
            <% current_number = @frames.index(frame) + 1 %>
            <p><%= current_number %>／<%= total_number%></p>
          </div>
          <div class="board-body">
            <% if frame.image.attached? %>
              <%= image_tag frame.image %>
            <% else %>
              <div class="board-body-text"><%= simple_format(frame.body) %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="board-title-label <%= board_color(board) %>">
      <%= @board.title %>
      <div class="delete-edit-button">
        <%= link_to board_path(board), data: { turbo_method: :delete, turbo_confirm: '掲示板を削除してよろしいですか？' }, class: "delete-button" do %>
          <i class="bi bi-trash3-fill"></i>
        <% end %>
        <%= link_to edit_board_path(board), class: "edit-button" do %>
          <i class="bi bi-pencil-fill"></i>
        <% end %>
        <%= link_to board_info_board_path(board), class: "info-button" do %>
          <i class="bi bi-bell"></i>
        <% end %>
        <i class="bi bi-chat-dots comment-button"></i>
      </div>
    </div>
    <div class="like-button">
      <%= render 'likes/like_button', board: board %>
    </div>
  </div>
  <div class="comment-area-wrapper">
    <div class="comment-area-label <%= board_color(board) %>">
      みんなのコメント
    </div>
    <div class="comment-area">
      <%= render "comments/chat_track", board: board %>
    </div>
    <div class="comment-form-wrapper">
      <%= render "comments/chat_form", board: board, comment: @comment %>
    </div>
  </div>
</div>

<script>
 document.addEventListener("turbo:load", function(){
  const commentForm = document.querySelector(".comment-form-wrapper");
  const commentButton = document.querySelector(".comment-button");
  if(commentForm){
    commentButton.addEventListener("click", function(e){
      e.stopPropagation(); 
      commentForm.style.display = "block";
    })
    document.addEventListener("click", function(e){
      commentForm.style.display = "none";
    });
    commentForm.addEventListener("click", function(e){
      e.stopPropagation(); 
    });
  };
 })
</script>

