<div class="scroll-content">
  <div class="delete-edit-button">
    <% if current_user&.id == board.user_id%>
      <%= link_to board_path(board), data: { turbo_method: :delete }, class: "delete-button" do %>
        <i class="bi bi-trash3-fill"></i>
      <% end %>
      <%= link_to edit_board_path(board), class: "edit-button" do %>
        <i class="bi bi-pencil-fill"></i>
      <% end %>
    <% end %>
  </div>
  <div class="container">
    <% @frames.each do |frame| %>
      <div class="section">
        <div class="board-body">
          <% if frame.image.attached? %>
            <%= image_tag frame.image %>
          <% else %>
            <%= simple_format(frame.body) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="user-comment-area">
    <%= link_to user_path(board.user_id), class: "user_page_link" do %>
      <div class="user-comment-track"> 
        <span class="user-comment-text"><i class="bi bi-emoji-sunglasses-fill"></i></span>
        <span class="user-comment-text board-user-name"><%= board.user.user_name %></span>
        <span class="user-comment-text" id="user-comment-body"><%= board.user.profile %></span> 
      </div>
    <% end %>
  </div>
  <div class="latest-board"> <!-- 前後の投稿に移動するボタン -->
    <% if latest_board(board) %><!-- 最新 -->
      <%= link_to board_path(latest_board(board)) do %>
        <i class="bi bi-chevron-double-left prev-board-link"></i>
      <% end %>
    <% else %>
      <i class="bi bi-chevron-double-left prev-board-link disabled"></i>
    <% end %>
  </div>
  <div class="prev-board"><!-- 一つ新しい -->
    <% if previous_board(board) %>
      <%= link_to board_path(previous_board(board)) do %>
        <i class="bi bi bi-chevron-left prev-board-link"></i>
      <% end %>
    <% else %>
      <i class="bi bi bi-chevron-left prev-board-link disabled"></i>
    <% end %>
  </div>
  <div class="next-board">
    <% if next_board(board) %><!-- 一つ古い -->
      <%= link_to board_path(next_board(board)) do %>
        <i class="bi bi bi-chevron-right next-board-link"></i>
      <% end %>
    <% else %>
      <i class="bi bi bi-chevron-right next-board-link disabled"></i>
    <% end %>
  </div>
  <div class="oldest-board">
    <% if oldest_board(board) %><!-- 最古 -->
      <%= link_to board_path(oldest_board(board)) do %>
        <i class="bi bi-chevron-double-right next-board-link"></i>
      <% end %>
    <% else %>
      <i class="bi bi-chevron-double-right next-board-link disabled"></i>
    <% end %>
  </div>
</div>
<div class="comment-area-wrapper">
  <div class="comment-area">
    <div class="comment-track"> <%# 自分・投稿主のコメントにはマークをつける%><%#コメントに対する返信もできるようにする%><%# フォロー中のユーザーのコメントは強調表示 %>
      <% board.comments.each do |comment| %>
        <%= link_to new_board_comment_reply_path(board,comment), class: "comment-link" do %>
          <% comment_class_name = comment_class_name(board, comment) %>
          <div class="comment-wrapper">
            <div class="comment-avatar">
              <% if comment.user.avatar_image.attached? %>
                <%= image_tag comment.user.avatar_image, class: "avatar-image" %>
              <% else %>
                <i class="bi bi-person-circle avatar-icon"></i>
              <% end %>
              <div class="commented-user"><%= comment.user.user_name %></div>
            </div>
            <div class="comment-text <%= comment_class_name %>">
              <%= simple_format(comment.body) %>
            </div>
          </div>
          <% if comment.replies.any? %>
            <div class="replies-wrapper">
              <% comment.replies.order(:created_at).each do |reply| %>
                <div class="reply-wrapper">
                  <% reply_class_name = reply_class_name(board, reply) %>
                  <div class="reply-avatar">
                    <% if reply.user.avatar_image.attached? %>
                      <%= image_tag reply.user.avatar_image, class: "avatar-image" %>
                    <% else %>
                      <i class="bi bi-person-circle avatar-icon"></i>
                    <% end %>
                    <div class="replied-user"><%= reply.user.user_name %></div>
                  </div>
                  <div class="reply-text <%= reply_class_name %>">
                    <%= simple_format(reply.body) %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if board.comments.empty? %>
        <span class="comment-text">盛り上げよう！</span>
        <div class="comment-image"><%= image_tag "free_images/sakura.png"%></div><%# 画像などもコメントできるようにしたい%>
        <span class="comment-text">コメントやリアクションをして</span>
        <span class="comment-text">関心のある投稿には</span>
      <% end %>
    </div>
  </div>
  <div class="comment-form-wrapper">
    <div class="comment-form"> <%# 自分・投稿主のコメントにはマークをつける%><%#コメントに対する返信もできるようにする%>
      <%= form_with model: [board, @comment], local: true do |f| %>
        <%= f.text_area :body, class: "form-control form-textarea" %>
        <div>
          <%= f.submit "コメントを送信" %>
        </div>
      <% end %> 
    </div>
  </div>
</div>

<style>
.container {
	overflow: auto;
	scroll-snap-type: y mandatory;
	height: 80%;
  width: 100%;
  position: absolute;
  top:10%;
  margin: auto;
  z-index: 1;
}
.section {
	scroll-snap-align: start;
	height: 100%;
  border: 2px solid #ddd;
}
</style>

<style>
.replies-wrapper {
  margin-left: 20px;
  border-left: 2px solid #ddd;
}
.reply-wrapper {
  margin-bottom: 10px;
}
.comment-text, .reply-text {
  display: block;
  margin: 20px;
  font-size: 20px;
}
.comment-text {
  color: black;
}
.reply-text {
  color: #555;
}
.comment-avatar, .reply-avatar {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  margin: 20px;
}
.commented-user, .replied-user {
  font-size: 20px;
  color: black;
  margin-left: 10px;
}
.avatar-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.avatar-icon {
  font-size: 40px;
  color: #aaa;
}

</style>