<div class="container" id="tutorial-container">
  <div class="section tutorial-section">
    <div class="board-body">
      <h1><strong>チュートリアル</strong></h1>
      <h4>ここでは、トピックの作成についてご紹介します！</h4>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h1><strong>トピックの作成</strong></h1>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h3><i class="bi bi-plus-square" id="create-board-button"></i>をクリックすると、今見ているトピックに関連する新しいトピックを追加できます！</h3>
      <h3>ここでは例として、<strong>「映画」</strong>というトピックについて、新たにトピックを追加していきます！</h3>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/topic_before.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/create_topic.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/topic_after.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h4>これでトピックを追加できました！</h4>
      <h4><strong>「Harry Potter」</strong>が関連するトピックの一覧に追加されていますね！</h4>
      <h4>それでは次に、トピックの具体的な内容となる<strong>フレーム</strong>を作成していきましょう！</h4>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h1><strong>フレームの追加</strong></h1>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h4>トピックには自由に<strong>フレーム</strong>を追加できます！</h4>
      <h4>フレームには、<strong>「テキストフレーム」</strong>と<strong>「画像フレーム」</strong>の2種類があります！</h4>
      <h4><i class="bi bi-pencil-fill"></i>をクリックすると、フレームを追加するページに移動します！</h4>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/edit_topic.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h3><strong>テキストフレーム</strong></h3>
      <h4>テキストフレームでは、見出しや強調表示、リンクの挿入など、さまざまなカスタマイズが可能です！</h4>
      <h4>自分の思い通りにテキストを装飾して、より魅力的な内容を作成しましょう！</h4>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/text_frame.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h3><strong>画像フレーム</strong></h3>
      <h4>保存した画像を選択して追加することができます！</h4>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/image_frame.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h3>それでは、完成したトピックを見てみましょう！</h3>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <div class="board-body-text">
        <div class="trix-content">
          <h1>「Harry Potter」とは・・・</h1>
          <div>
            イギリスの作家
            <strong>J・K・ローリング</strong>
            によって執筆された、魔法世界を舞台とするファンタジー小説シリーズおよびそれを原作とした映画作品である。
          </div>
          <div>
            <a href="https://ja.wikipedia.org/wiki/%E3%83%8F%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%9D%E3%83%83%E3%82%BF%E3%83%BC%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA#:~:text=%E5%A4%96%E9%83%A8%E3%83%AA%E3%83%B3%E3%82%AF-,%E3%83%8F%E3%83%AA%E3%83%BC%E3%83%BB%E3%83%9D%E3%83%83%E3%82%BF%E3%83%BC%E3%82%B7%E3%83%AA%E3%83%BC%E3%82%BA,-132%E3%81%AE%E8%A8%80%E8%AA%9E">Harry Potter @wikipedia</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <%= image_tag "free_images/tutorial/magic.png" %>
    </div>
  </div>
  <div class="section tutorial-section">
    <div class="board-body">
      <h2 class="tutorial-heading">🎉 チュートリアル完了！</h2>
      <h4 class="tutorial-text">
        気になるトピックにフレームを追加したり、ユニークなトピックを作成したり、コメントで意見を交わしたりして、掲示板をどんどん盛り上げていきましょう！
      </h4>
      <h4 class="tutorial-text">
        あなたの活動が、新たな発見や交流につながるかもしれません！
      </h4>
      <h4 class="tutorial-text">
        <strong>思いのままに楽しんでください！</strong>
      </h4>
    </div>
  </div>
</div>
