<% if @comment.errors.present? %>
  <%= turbo_stream.replace "chat-form" do %>
    <%= render 'comments/chat_form', comment: @comment, board: @board %>
  <% end %>
<% else %>
  <%= turbo_stream.prepend "chat-table" do %>
    <%= render 'comments/chat', comment: @comment, board: @board %>
  <% end %>
  <%= turbo_stream.replace "chat-form" do %>
    <%= render 'comments/chat_form', comment: Comment.new, board: @board %>
  <% end %>
  <%= turbo_stream.replace "comment-count" do %>
    <%= render "boards/comment_count", board: @board %>
  <% end %>
<% end %>

<%= turbo_stream.remove "replace-flash-message" %>
 
<%= turbo_stream.append "error-messages" do %>
  <div id="replace-flash-message">
    <% if flash.now[:success] || flash.now[:danger] %>
      <div class="alert-label">Wクリックで削除</div>
      <div class="alert alert-success flash-message">
        <% if flash.now[:success] %>
          <%= flash.now[:success] %>
        <% elsif flash.now[:danger] %>
          <%= flash.now[:danger] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>