<div class="edit-wrapper">
  <div class="frames-wrapper">
    <div class="edit-buttons">
      <div class="delete-button">
        <%= link_to "削除", board_path(@board), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
      </div>
      <div class="save-button">
        <%= link_to "保存", board_path(@board), class: "btn btn-outline-success" %>
      </div>
    </div>
    <div class="edit-board-container">
      <div class="edit-board-form">
        <div class="edit-board-title" id="edit-board-title"><%= @board.title %></div>
        <%= form_with model: @board, id:"edit-form" do |f| %>
          <i class="bi bi-caret-down-fill edit-arrow"></i>
          <%= f.text_field :title, id:"title-text" %>
          <%= f.submit "変更", id:"submit" %>
        <% end %>
      </div>
    </div>
    <div class="add-frame">
      <%= link_to "本文フレームを追加", new_board_frame_path(@board, frame_type: 0), class: "btn btn-primary" %>
      <%= link_to "画像フレームを追加", new_board_frame_path(@board, frame_type: 1), class: "btn btn-primary" %>
    </div>
    <% @frames.each do |frame| %>
      <div class="frame-container" id="frame-container-<%= frame.frame_number %>">
        <div class="frame-content">
          <% if frame.image.attached? %>
            <%= image_tag frame.image %>
          <% else %>
            <%= frame.body %>
          <% end %>
        </div>
      </div>
      <div class="edit-tools" id="edit-tools-<%= frame.frame_number %>">
        <div class="edit-button">
          <%= link_to "編集", edit_board_frame_path(@board, frame), class: "btn btn-outline-secondary" %>
        </div>
        <div class="edit-button">
          <%= link_to "削除", board_frame_path(@board, frame), data: { turbo_method: :delete }, class: "btn btn-outline-danger" %>
        </div>
        <div class="edit-button <%= "disabled" if frame.frame_number == 1 %>">
          <%= link_to "前に移動", move_forward_board_frame_path(@board, frame), data: { turbo_method: :patch }, class: "btn btn-outline-primary" %>
        </div>
        <div class="edit-button <%= "disabled" if @board.frames.where( "frame_number > ?", frame.frame_number ).empty? %>" >
          <%= link_to "後ろに移動", move_back_board_frame_path(@board, frame), data: { turbo_method: :patch }, class: "btn btn-outline-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener("turbo:load", function(){
    const editForm = document.getElementById("edit-form");
    const boardTitle = document.getElementById("edit-board-title");

    if (editForm && boardTitle) {
      editForm.addEventListener("click", function (event) {
        event.stopPropagation();
      });
      boardTitle.addEventListener("mouseover", function(){
      editForm.style.display = "block";
      });

      document.addEventListener("click", function(){
      editForm.style.display = "none"
      });
    };
  });
</script>

<script>
  document.addEventListener("turbo:load", function () {
  const frameContainers = document.querySelectorAll("[id^='frame-container-']");

  frameContainers.forEach(container => {
    const frameNumber = container.id.replace("frame-container-", "");// フレーム番号を取得（idから抽出）
    const editTools = document.getElementById(`edit-tools-${frameNumber}`);
    container.addEventListener("mouseover", () => {
      if (editTools) {
        editTools.style.display = "block";
      }
    });
    document.addEventListener("click", () => {
      if (editTools) {
        editTools.style.display = "none";
      }
    });
  });
});
</script>

<style>
<%# 全体のボーダーを表示・スクロールバーを非表示%>
* {
  /*outline: 2px solid blue;*/
  /*scrollbar-width: none;*/
}
</style>
<style>
@media (min-width: 1000px) {
  .edit-wrapper {
    flex-direction: column;
    height: auto; /* 縦方向に制限を外す */
    overflow-y: auto;
  }
  .frames-wrapper {
    width: 60%;
    min-width: 1000px;
  }
  .edit-buttons {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    margin-top: 0;
  }
  .delete-button {
    position: absolute;
    top:10px;
    right: 20px;
  }
  .save-button {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}
@media (min-width: 700px) and (max-width: 1000px) {
  .edit-wrapper {
    flex-direction: column;
    padding: 0 20px;
    min-width: 300px;
  }
  .frames-wrapper {
    width: 100%;
  }
  .edit-buttons {
    position: relative;
    margin-bottom: 50px;
    width: 100%;
    height: 100px;
    margin-top: 0;
  }
  .delete-button {
    position: absolute;
    top:10px;
    right: 20px;
  }
  .save-button {
    position: absolute;
    top: 10px;
    left: 20px;
  }
}
@media (max-width: 700px){
  .edit-wrapper {
    flex-direction: column;
    padding: 0 20px;
    min-width: 300px;
  }
  .frames-wrapper {
    width: 100%;
  }
  .add-frame {
    display: flex;
    flex-direction: column;
  }
  .edit-buttons {
    margin-bottom: 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 100px;
  }
  .save-button, .delete-button {
    margin: auto;
    width: 100%;
    text-align: center;
  }
}
</style>
