<div class="edit-wrapper">
  <div class="frames-wrapper">
    <div class="edit-buttons">
      <div class="delete-button">
        <%= link_to "報告", new_board_report_report_path(board_id: @board.id), class: "btn btn-outline-danger", id: "delete-board-button" %>
      </div>
      <div class="save-button">
        <%= link_to "保存", board_path(@board), class: "btn btn-outline-primary", id: "save-board-button" %>
      </div>
    </div>
    <div class="edit-board-container">
      <div class="edit-board-form">
        <%= turbo_frame_tag id= "replace-edit-board-form" do %>
          <div class="edit-board-title" id="edit-board-title"><%= @board.title %></div>
          <%= link_to "タイトルを編集", edit_board_board_path(@board), class: "btn btn-outline-success", id: "edit-board-link", remote: true %>
        <% end %>
      </div>
    </div>
    <div class="add-frame">
      <%= link_to "本文フレームを追加", new_board_frame_path(@board, frame_type: 0), class: "btn btn-primary", id: "create-text-frame" %>
      <%= link_to "画像フレームを追加", new_board_frame_path(@board, frame_type: 1), class: "btn btn-primary", id: "create-image-frame" %>
    </div>
    <% @frames.each do |frame| %>
      <div class="frame-container" id="frame-container-<%= frame.frame_number %>">
        <div class="frame-content" id="frame-content-<%= frame.frame_number %>">
          <% if frame.image.attached? %>
            <%= image_tag frame.image %>
          <% else %>
            <%= frame.body %>
          <% end %>
        </div>
      </div>
      <div class="edit-tools" id="edit-tools-<%= frame.frame_number %>">
        <div class="edit-button">
          <%= link_to "編集", edit_board_frame_path(@board, frame), class: "btn btn-outline-secondary" %>
        </div>
        <div class="edit-button">
          <%= link_to "削除", board_frame_path(@board, frame), data: { turbo_method: :delete }, class: "btn btn-outline-danger", id: "delete-frame-link-#{frame.frame_number}" %>
        </div>
        <div class="edit-button <%= "disabled" if frame.frame_number == 1 %>" id="move-forword-button-<%= frame.frame_number %>">
          <%= link_to "前に移動", move_forward_board_frame_path(@board, frame), data: { turbo_method: :patch }, class: "btn btn-outline-primary", id: "move-forword-#{frame.frame_number}" %>
        </div>
        <div class="edit-button <%= "disabled" if @board.frames.where("frame_number > ?", frame.frame_number).empty? %>" id="move-back-button-<%= frame.frame_number %>">
          <%= link_to "後ろに移動", move_back_board_frame_path(@board, frame), data: { turbo_method: :patch }, class: "btn btn-outline-primary", id: "move-back-#{frame.frame_number}" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
