<%= render "shared/error_messages", object: @board %>
<div class="new-board-wrapper">
  <div class="new-board-parent">  
    <%= @parent_board.title %>
  </div>
  <%= form_with model: @board do |f| %>
    <div class="new-board-form">
      <%= f.text_field :title, class: "form-control" %>
      <%= f.hidden_field :parent_id, value: @parent_id %>
      <%= f.submit "新しいルートを作成", class: "form-control btn btn-primary" %>
      <%= link_to "キャンセル", board_path(@parent_board), class: "cancel btn btn-outline-danger" %>
    </div>
  <% end %>
</div>


<style>
  @media (min-width: 600px) {
    .new-board-wrapper {
      justify-content: center;
      align-items: center;
    }
    .new-board-parent {
      font-size: 40px;
    }
    .new-board-form {
      width: 600px;
    }
    .new-board-form input {
      font-size: 30px;
    }
    .new-board-form a {
      font-size: 30px;
    }
  }
  @media (max-width: 600px) {
    .new-board-wrapper {
      margin: 0 20px;
    }
    .new-board-parent {
      font-size: 30px;
    }
    .new-board-form {
      width: 100%;
    }
    .new-board-form input {
      font-size: 20px;
    }
    .new-board-form a {
      font-size: 20px;
    }
  }
  .new-board-wrapper {
    display: flex;
    flex-direction: column;
  }
  .new-board-parent {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    overflow-x: auto;
  }
  .new-board-form {
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
  }
  .new-board-form input {
    width: 100%;
    margin-bottom: 20px;
  }
  .new-board-form a {
    width: 100%;
    display: block;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
</style>

