<% if @context %>
  <%= render "replies/new", board: @board, comment: @reply_comment, reply: @reply %>
  <div class="background-cover"></div>
<% end %>
<div class="wrapper">
  <%= render @board %>
</div>

<div class="board-container">
  <div class="create-board">
    <%= link_to new_board_path(parent_board: @board.id) do %>
      <i class="bi bi-plus-square"></i>
    <% end %>
  </div>
  <% @boards.each do |board| %>
    <div class="board-thumbnail-wrapper" id="board-thumbnail-wrapper-<%= @boards.index(board)+1 %>">
      <%= link_to board_path(board) do %>
        <div class="board-thumbnail-container" id="board-thumbnail-container-<%= @boards.index(board)+1%>">
          <div class="board-thumbnail">
            <% if !board.frames.empty? %>
              <% first_frame = board.frames.order(:frame_number).first %>
              <% if first_frame.image.attached? %>
                <%= image_tag first_frame.image %>
              <% else %>
                <div class="board-thumbnail-text"><%= simple_format(first_frame.body) %></div>
              <% end %>
            <% else %>
              <p>まだコンテンツがありません</p>
            <% end %>
          </div>
        </div>
        <div class="board-content <%= board_color(board) %>" id="board-content-<%= @boards.index(board)+1%>">
          <%= board.title %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= render "shared/breadcrumb", breadcrumb: @breadcrumb %>

<!-- ボードサムネイル表示用 -->
<script>
  document.addEventListener("turbo:load", function () {
  const boardContainers = document.querySelectorAll("[id^='board-content-']");
    boardContainers.forEach(container => {
      const boardNumber = container.id.replace("board-content-", "");
      const thumbnail = document.getElementById(`board-thumbnail-container-${boardNumber}`);
      const thumbnailWrapper = document.getElementById(`board-thumbnail-wrapper-${boardNumber}`);
      if (container && thumbnail) {
        container.addEventListener("mouseover", () => {
            thumbnail.style.display = "block";
          })
      }
        thumbnailWrapper.addEventListener("mouseout", () => {
            thumbnail.style.display = "none";
        });
    });
  });
</script>
<!-- コメント欄　!-->
<!-- 表示領域の高さを変更する場合には"500"も同時に変更すること!-->
<script>
  document.addEventListener("turbo:load", function () {
    const commentTrack = document.querySelector(".comment-track");
    if (!commentTrack) return;
    const comments = document.querySelectorAll(".comment-text");
    const commentCount = comments.length;
    const totalHeight = commentTrack.offsetHeight;
    const speed = 50;
    
    let duration, endTranslate
    endTranslate = 550
    duration = endTranslate / speed
    commentTrack.style.setProperty("--end-translate", `${endTranslate}px`);
    commentTrack.style.setProperty("--animation-duration", `${duration+commentCount*0.1*commentCount}s`); //speedを一定にしてもコメントが増えるほど加速していくので、調整
  }
);
</script>
<!-- 背景暗転 -->
<style>
 .background-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
  z-index: 100;
 }
</style>
<style>
<%# 全体のボーダーを表示・スクロールバーを非表示%>
* {
  /*outline: 2px solid blue;*/
  scrollbar-width: none;
}
</style>

<%# 投稿・コメント%>
<style>
  .wrapper {
    display: flex;
    height: 80vh;
    width: 100%;
    padding: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper::-webkit-scrollbar {
    display:none;
  }
  .scroll-content {
    border-radius: 20px;
    position: relative;
    flex: 5; 
    width: 100%;
    border: 1px solid;
    align-items: center; <%# 小要素の垂直位置を指定 %>
    display: flex;  <%# これなしではalign-itemsが解除される%>
    background-color: white;
    overflow: hidden;
  }  
  .user-name {
    display: inline-block;
    margin: auto;
  }
  .board-image img { <%# これらのプロパティはimgに直接指定することに注意 %>
    max-width: 100%; <%# 100％で表示できるのは元の大きさまで %><%# クリックで100%に変更　＝＞　全体表示 %>
    max-height: 100%;<%# 小さい画像をあえてはみ出させたい場合は直接指定するしかない、比率を維持したまま親要素に合わせて自動でサイズを調整することができなくなる %>
    min-width: 100px;
    min-height: 100px;
    object-fit: cover; <%# 上記の指定だけでは比率がおかしくなるらしい（なくてもできてる感ある）%>
    border-radius: 15px 15px 15px 15px;
  }
</style>
<!-- ボードタイトル !-->
<style>
  .board-title-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: absolute;
    top: 0;
    font-size: 30px;
    font-weight: bold;
    background-color: #C9E2C7;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    margin: 0;
    padding: 0px 20px;
  }
  .delete-edit-button {
    font-size: 30px;
    z-index: 99; <%# スクロール用のページの上に配置%>
  }
  .delete-edit-button a {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
  }
  .delete-button:hover,.edit-button:hover {
    font-size: 40px;
  }

</style>


<!-- 前後の投稿への移動ボタン !-->
<style>
  .prev-board {
    position: absolute;
    left: 45%;
    bottom: 3%;
    transform: translate(-50%,0); 
  }
  .latest-board {
    position: absolute;
    left: 35%;
    bottom: 3%;
    transform: translate(-50%,0); 
  }
  .next-board {
    position: absolute;
    right: 45%;
    bottom: 3%;
    transform: translate(50%,0); 
  }
  .oldest-board {
    position: absolute;
    right: 35%;
    bottom: 3%;
    transform: translate(50%,0); 
  }
  .prev-board-link {
    font-size: 20px;
    opacity: 0;
    color: #C9E2C7;
    padding: 10px;
    border: 2px solid #C9E2C7;
    border-radius: 5px;
  }
  .next-board-link {
    font-size: 20px;
    opacity: 0;
    color: #C9E2C7;
    padding: 10px;
    border: 2px solid #C9E2C7;
    border-radius: 8px;
  }
  .scroll-content:hover  .prev-board-link:not(.disabled) {
    opacity: 1;
  }
  .scroll-content:hover .next-board-link:not(.disabled) {
    opacity: 1;
  }
  .prev-board-link:hover {
    opacity: 1;
    font-size: 30px;
    background: #C9E2C7;
    color: white;
  }
  .next-board-link:hover { 
    opacity: 1;
    font-size: 30px;
    background: #C9E2C7;
    color: white;
  }
  .prev-board-link.disabled, .next-board-link.disabled {
    pointer-events: none;
  }
</style>
<!-- 子ノード部分 topと同じスタイル -->
<style>
  .board-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .board-thumbnail-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .board-thumbnail-container {
    position: absolute;
    top: -300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 300px;
    background: white;
    border: 2px solid #ddd;
    border-radius: 20px;
    display: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .board-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .board-thumbnail-text {
    text-align: center;
    padding: 5px;
  }
  .board-thumbnail img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
    display: block;
  }

  .board-container .board-content {
    border: 2px solid #ddd; 
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    width: 100%;
    min-width: 150px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
  }
  .board-container .board-content.red, .board-title-label.red, .comment-form .submit.red, .comment-area-label.red, .title-board-content.red {
    background: #F4ADB0;
  }
  .board-container .board-content.green, .board-title-label.green, .comment-form .submit.green, .comment-area-label.green, .title-board-content.green {
    background: #C9E2C7;
  }
  .board-container .board-content.blue, .board-title-label.blue, .comment-form .submit.blue, .comment-area-label.blue, .title-board-content.blue {
    background: #ABECF2;
  }
  .board-container .board-content.brown, .board-title-label.brown, .comment-form .submit.brown, .comment-area-label.brown, .title-board-content.brown {
    background: #EFDDAA;
  }
  .board-container .board-content.emerald, .board-title-label.emerald, .comment-form .submit.emerald, .comment-area-label.emerald, .title-board-content.emerald {
    background: #E4EDAA;
  }

  .board-thumbnail-wrapper a { 
    color: black;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .board-content {
      width: calc(50% - 20px); /* スマホ画面では2列表示 */
    }
  }

  @media (max-width: 480px) {
    .board-content {
      width: 100%; /* 狭い画面では1列表示 */
    }
  }
</style>

<!-- kaminari パーシャル -->
<style>
  .page-item {
    margin: 10px;
  }
  .page-item.active .page-link {
    background: #C9E2C7;
    border: none;
  }
  .page-link {
    color: #C9E2C7;
    border-color: #C9E2C7;
    border-radius: 5px;
  }
</style>

<!-- コメント欄 !-->
<style>
.comment-area-wrapper {
  flex: 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid;
  position: relative;
  border-radius: 20px;
}
.comment-area {
  position: relative;
  height: 550px;
  overflow: hidden;
  background-color: white;
  border: 5px solid white;
  border-radius: 20px;
}
.comment-area-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: solid;
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px 20px 0 0;
}
.comment-track {
  position: absolute;
  width: 100%;
  text-align: left;
  animation: slideDown var(--animation-duration) linear infinite;
}

.comment-image img {
  width: 100px;
}
.comment-link {
  text-decoration: none;
}
.comment-link:hover {
  font-weight: bold;
}
.comment_by_current_user.comment_by_board_user {
  border-bottom: 2px solid green;
}
.comment_by_current_user {
  border-bottom: 2px solid green;;
}
.comment_by_board_user {
  border-bottom: 2px solid red;
}

@keyframes slideDown {
  from {
    transform: translateY(var(--start-translate, -120%));
  }
  to {
    transform: translateY(var(--end-translate, -200px));
  }
}
</style>

<!-- コメント入力 -->
<style>
  .comment-form-wrapper {
    flex: 1;
    position: relative;
    border-radius: 20px;
  }
  .comment-form textarea {
    position: absolute;
    height: 100%;
    padding-top: 60px;
    bottom: 0;
    resize: none;
    background-color: white;
    font-size: 30px;
    border-radius: 20px;
  }
  .comment-form input {
    color: black;
    width: 100%;
    opacity: 90%;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px 20px 0px 0px;
  }
  .comment-form input[type="submit"] {
    display: block;
    position: absolute;
    top: 0;
  }
  .comment-form input[type="submit"]:hover {
    opacity: 0.6;
  }
</style>
<!-- ページネーション -->
<style>
  .page-numbers {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 40px;
    }
  .pagination-left {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 40px;
  }
  .pagination-right {
    position: absolute;
    bottom: 0;
    right: 45%;
    font-size: 40px;
  }
  .previous-link {
    font-size: 50px;
    opacity: 0;
    color: #C9E2C7;
  }
  .next-link {
    font-size: 50px;
    opacity: 0;
    color: #C9E2C7;
  }
  .previous-link:hover {
    font-size: 60px;
  }
  .next-link:hover { 
    font-size: 60px;
  }
  .previous-link.disabled, .next-link.disabled {
    pointer-events: none;
  }
  .board-cards:hover .previous-link:not(.disabled) {
    opacity: 1;
  }
  .board-cards:hover .next-link:not(.disabled) {
    opacity: 1;
  }
</style>
