<% if @context %>
  <%= render "replies/new", board: @board, comment: @reply_comment, reply: @reply %>
  <div class="background-cover"></div>
<% end %>

<div class="whole-wrapper">
  <% if current_user %>
    <%= render "shared/header" %>
  <% end %>
  <div class="wrapper">
    <%= render @board %>
  </div>
  <div class="board-cards-title">
    <span classs="user-name"><i class="bi bi-emoji-sunglasses-fill"></i><%= @board.user.user_name %></span></span><span>の他の投稿を見る</span>
  </div>
  <div class="board-cards users-other-boards"> <!-- 同じユーザーの投稿 -->
    <% @boards.each do |board| %> 
      <%= render "users_other_board", board: board, current_board: @board %>
    <% end %>
    <% if @boards.present? && @boards.current_page %> <!-- カード用ページネーション -->
      <div class="page-numbers">
        <%= paginate @boards, context: true %>
      </div>
    <% else %>
      <p>表示するデータがありません。</p>
    <% end %>
  </div>
  <div class="board-cards-title">
    <span>おすすめの投稿一覧</span>
  </div>
  <div class="board-cards recommend-boards"> <!-- おすすめの投稿 -->
    <% @recommend_boards.each do |board| %>
      <%= render "users_other_board", board: board, current_board: @board %>
    <% end %>
  </div>
</div>
<style>
  
  .page-numbers a {
    
  }
</style>

<!-- 投稿者の他の投稿表示用　--> <!-- 投稿の数が奇数の場合、余ったスペースに「リアクションの多い投稿」や「新しい投稿」などへのリンクをつけたカードを配置する-->

<!-- ユーザーコメント欄 !-->
<!-- 表示領域の幅を変更する場合には"800"も同時に変更すること!-->
<script>
  document.addEventListener("turbo:load", function () {
    const commentTrack = document.querySelector(".user-comment-track");
    if (!commentTrack) return;
    const visibleWidth = commentTrack.offsetWidth;
    const userComment = document.getElementById("user-comment-body");
    const commenWidth = userComment.offsetWidth;
    const totalWidth = visibleWidth + commenWidth
    const speed = 80;
    
    let duration, endTranslate
    if (totalWidth < 800) {
      endTranslate = 800;
    } else {
      endTranslate = totalWidth;
    }
    duration = endTranslate / speed
    commentTrack.style.setProperty("--end-translate", `-${endTranslate}px`);
    commentTrack.style.setProperty("--animation-duration", `${duration}s`); //speedを一定にしてもコメントが増えるほど加速していくので、調整
    }
  );
</script>
<!-- コメント欄　!-->
<!-- 表示領域の高さを変更する場合には"500"も同時に変更すること!-->
<script>
  document.addEventListener("turbo:load", function () {
    const commentTrack = document.querySelector(".comment-track");
    if (!commentTrack) return;
    const comments = document.querySelectorAll(".comment-text");
    const commentCount = comments.length;
    const totalHeight = commentTrack.offsetHeight;
    const speed = 50;
    
    let duration, endTranslate
    endTranslate = 500
    duration = endTranslate / speed
    commentTrack.style.setProperty("--end-translate", `${endTranslate}px`);
    commentTrack.style.setProperty("--animation-duration", `${duration+commentCount*0.1*commentCount}s`); //speedを一定にしてもコメントが増えるほど加速していくので、調整
  }
);
</script>
<!-- 背景暗転 -->
<style>
 .background-cover {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.3;
  z-index: 100;
 }
</style>
<style>
<%# 全体のボーダーを表示・スクロールバーを非表示%>
* {
  /*outline: 2px solid blue;*/
  scrollbar-width: none;
}
</style>
<%# 背景 %>
<style>
  .whole-wrapper {
    background-size: auto auto;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
</style>
<%# 投稿・コメント%>
<style>
  .wrapper {
    display: flex;
    height: 80vh;
    width: 100%;
    padding: 0 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .wrapper::-webkit-scrollbar {
    display:none;
  }
  .scroll-content {
    position: relative;
    flex: 5; 
    width: 100%;
    border: solid;
    border-color: pink;
    align-items: center; <%# 小要素の垂直位置を指定 %>
    display: flex;  <%# これなしではalign-itemsが解除される%>
    background-color: white;
    overflow: hidden;
  }
  .delete-edit-button {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 30px;
    z-index: 99; <%# スクロール用のページの上に配置%>
  }
  .delete-edit-button a {
    text-decoration: none;
    color: pink;
    padding: 5px;
    border-radius: 10px;
  }
  .delete-button:hover,.edit-button:hover {
    font-size: 40px;
  }
  .board-body {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .board-body a{
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  .user-name {
    display: inline-block;
    margin: auto;
  }
  .board-image img { <%# これらのプロパティはimgに直接指定することに注意 %>
    max-width: 100%; <%# 100％で表示できるのは元の大きさまで %><%# クリックで100%に変更　＝＞　全体表示 %>
    max-height: 100%;<%# 小さい画像をあえてはみ出させたい場合は直接指定するしかない、比率を維持したまま親要素に合わせて自動でサイズを調整することができなくなる %>
    min-width: 100px;
    min-height: 100px;
    object-fit: cover; <%# 上記の指定だけでは比率がおかしくなるらしい（なくてもできてる感ある）%>
    border-radius: 15px 15px 15px 15px;
  }
</style>
<!-- 投稿者コメント !-->
<style>
.user-comment-area {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 0;
  background-color: pink;
  border: 5px solid white;
  margin: 0;
  padding: 0;
}
.user_page_link {
  text-decoration: none;
}
.user-comment-track {
  width: 100%;
  animation: scroll-left var(--animation-duration) linear infinite;
}
.user-comment-text {
  display: inline-block;
  margin-right: 50px; /* 各コメント間のスペース */
  font-size: 30px;
  font-weight: bold;
  color: white;
}
.board-user-name {
  font-size: 38px;
}

@keyframes scroll-left {
  from {
    transform: translateX(var(--start-translate, 100%));
  }
  to {
    transform: translateX(var(--end-translate, -200px));
  }
}
</style>

<!-- 前後の投稿への移動ボタン !-->
<style>
  .prev-board {
    position: absolute;
    left: 45%;
    bottom: 3%;
    transform: translate(-50%,0); 
  }
  .latest-board {
    position: absolute;
    left: 35%;
    bottom: 3%;
    transform: translate(-50%,0); 
  }
  .next-board {
    position: absolute;
    right: 45%;
    bottom: 3%;
    transform: translate(50%,0); 
  }
  .oldest-board {
    position: absolute;
    right: 35%;
    bottom: 3%;
    transform: translate(50%,0); 
  }
  .prev-board-link {
    font-size: 20px;
    opacity: 0;
    color: pink;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 5px;
  }
  .next-board-link {
    font-size: 20px;
    opacity: 0;
    color: pink;
    padding: 10px;
    border: 2px solid pink;
    border-radius: 8px;
  }
  .scroll-content:hover  .prev-board-link:not(.disabled) {
    opacity: 1;
  }
  .scroll-content:hover .next-board-link:not(.disabled) {
    opacity: 1;
  }
  .prev-board-link:hover {
    opacity: 1;
    font-size: 30px;
    background: pink;
    color: white;
  }
  .next-board-link:hover { 
    opacity: 1;
    font-size: 30px;
    background: pink;
    color: white;
  }
  .prev-board-link.disabled, .next-board-link.disabled {
    pointer-events: none;
  }
</style>
<!-- kaminari パーシャル -->
<style>
  .page-item {
    margin: 10px;
  }
  .page-item.active .page-link {
    background: pink;
    border: none;
  }
  .page-link {
    color: pink;
    border-color: pink;
    border-radius: 5px;
  }
</style>

<!-- コメント欄 !-->
<style>
.comment-area-wrapper {
  flex: 3;  /* コンテナの幅 */
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 2px solid pink;
  padding-top: 10px;
}
.comment-area {
  position: relative;
  height: 400px; /* コンテナの高さ */
  overflow: hidden; /* コンテナ外のテキストを隠す */
  background-color: white;
  border: 5px solid white;
  
}
.comment-track {
  position: absolute;
  width: 100%;
  text-align: left;
  animation: slideDown var(--animation-duration) linear infinite; /* 下に移動するアニメーション */
}

.comment-image img {
  width: 100px;
}
.comment-link {
  text-decoration: none;
}
.comment-link:hover {
  font-weight: bold;
}
.comment_by_current_user.comment_by_board_user {
  border-bottom: 2px solid green;
}
.comment_by_current_user {
  border-bottom: 2px solid green;;
}
.comment_by_board_user {
  border-bottom: 2px solid red;
}

@keyframes slideDown {
  from {
    transform: translateY(var(--start-translate, -100%));
  }
  to {
    transform: translateY(var(--end-translate, -200px));
  }
}
</style>

<!-- コメント入力 -->
<style>
  .comment-form-wrapper {
    flex: 1;
    position: relative;
    border: 2px solid pink;
  }
  .comment-form textarea {
    position: absolute;
    height: 100%;
    padding-top: 60px;
    bottom: 0;
    resize: none;
    background-color: rgba(255, 192, 203, 0.2);
    font-size: 30px;
  }
  .comment-form input {
    color: white;
    background: pink;
    width: 100%;
    opacity: 0.6;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
  }
  .comment-form input:hover {
    color: white;
    background: pink;
    opacity: 0.8;
  }
</style>
<!-- おすすめの投稿　-->
<style>
  .board-cards-title {
    text-align: center;
    background-color: pink;
  }
  .board-cards-title span:not(.user-name) {
    font-size: 40px;
    color: white;
  }
  .board-cards-title .user-name {
    font-size: 100%;
    max-width: 20%;
  }
  .board-cards {
    position: relative;
    display: flex;
    flex-wrap: wrap; /* 行をまたいで自動的に折り返す */
    gap: 6px; /* カード間のスペースを設定 */
    justify-content: space-between; /* 均等に配置 */
    padding-bottom: 150px;
    margin-top: 50px;
  }
  .users-other-boards {
  
  }
  .recommend-boards {
    margin-top: 100px;
  }
</style>

<!-- ページネーション -->
<style>
  .page-numbers {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 40px;
    }
  .pagination-left {
    position: absolute;
    bottom: 0;
    left: 45%;
    font-size: 40px;
  }
  .pagination-right {
    position: absolute;
    bottom: 0;
    right: 45%;
    font-size: 40px;
  }
  .previous-link {
    font-size: 50px;
    opacity: 0;
    color: pink;
  }
  .next-link {
    font-size: 50px;
    opacity: 0;
    color: pink;
  }
  .previous-link:hover {
    font-size: 60px;
  }
  .next-link:hover { 
    font-size: 60px;
  }
  .previous-link.disabled, .next-link.disabled {
    pointer-events: none;
  }
  .board-cards:hover .previous-link:not(.disabled) {
    opacity: 1;
  }
  .board-cards:hover .next-link:not(.disabled) {
    opacity: 1;
  }
</style>
