<% if @frame.errors.present? %>
  <%= turbo_stream.replace "form-container" do %> 
    <div class="form-container" id="form-container">
      <% if @frame.content %>
        <%= form_with model: [@board, @frame] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="text-form">
            <%= f.hidden_field :frame_type, value: "text_frame" %>
            <%= f.rich_text_area :content, size: "10x5", class: "form-control", placeholder: "本文を入力してください", id: "frame_body", onkeyup: "FrameShowLength(value);" %>
            <p id="inputlength">0文字/1000文字</p>
          </div>
          <div class="cancel-button">
            <%= f.submit "作成", class: "form-control btn btn-outline-primary", id: "frame-submit-button", disabled: true %>
            <%= link_to "キャンセル", edit_board_path(@board),class: "cancel btn btn-outline-danger" %>
          </div>
        <% end %>
      <% else %>
        <%= form_with model: [@board, @frame] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="image-form" id="frame-form">
            <%= f.hidden_field :frame_type, value: "image_frame" %>
            <%= f.file_field :image, id: "frame-image", onchange: "loadImage(this); checkFrameImage();" %>
          </div>
          <div class="image-label" id="new-image-label"></div>
          <div class="preview-container">
            <div id="post_images" style="display: none;">
              <div id="preview"></div>
            </div>
          </div>
          <div class="cancel-button">
            <%= f.submit "作成", class: "form-control btn btn-outline-primary", id: "frame-submit-button", disabled: true %>
            <%= link_to "キャンセル", edit_board_path(@board),class: "cancel btn btn-outline-danger" %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= turbo_stream.remove "replace-flash-message" %>
 
<%= turbo_stream.append "error-messages" do %>
  <div id="replace-flash-message">
    <% if flash.now[:success] || flash.now[:danger] %>
      <div class="alert-label">Wクリックで削除</div>
      <div class="alert alert-success flash-message">
        <% if flash.now[:success] %>
          <%= flash.now[:success] %>
        <% elsif flash.now[:danger] %>
          <%= flash.now[:danger] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>