<% if @frame.errors.present? %>
  <%= turbo_stream.replace "form-container" do %> 
    <%= render "frames/edit_form", board: @board, frame: @frame %>
  <% end %>
<% end %>
<%= turbo_stream.append "error-messages" do %>
  <div id="replace-flash-message">
    <% if flash.now[:success] || flash.now[:danger] %>
      <div class="alert-label">Wクリックで削除</div>
      <div class="alert alert-success flash-message">
        <% if flash.now[:success] %>
          <%= flash.now[:success] %>
        <% elsif flash.now[:danger] %>
          <%= flash.now[:danger] %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>