<div class="sub-footer-menu-wrapper" id="sub-footer-menu">
  <div class="sub-footer-menu">
    <span><%= link_to "ログアウト", logout_path, id: "sub-footer-logout", data: { turbo_method: :delete } %></span>
    <span><%= link_to "マイページ", user_path(current_user) %></span>
    <span><%= link_to "ユーザー情報", show_profile_user_path(current_user) %></span>
    <span><%= link_to "管理者を作成", new_admin_user_path, id: "sub-footer-user_create" %></span>
  </div>
</div>

<div class="sub-footer-content">
  <div class="sub-footer-logo">
    <% if controller_name == "users" %>
      <%= link_to admin_users_path, class: "main-logo" do %>
        User
      <% end %>
      <i class="bi bi-arrow-left-right"></i>
      <%= link_to admin_boards_path, class: "sub-logo" do %>
        Topic
      <% end %>
    <% else %>
      <%= link_to admin_boards_path, class: "main-logo" do %>
        Topic
      <% end %>
      <i class="bi bi-arrow-left-right"></i>
      <%= link_to admin_users_path, class: "sub-logo" do %>
        User
      <% end %>
    <% end %>
  </div>

  <span id="sub-footer-icon"><i class="bi bi-person-circle"></i></span>
</div>

<script>
  document.addEventListener("turbo:load", function(){
    const userIcon = document.getElementById("sub-footer-icon");
    const menu = document.getElementById("sub-footer-menu");
    if (userIcon&&menu){
      userIcon.addEventListener("click", function(){
        menu.style.display = "block";
        event.stopPropagation();
      });
      document.addEventListener("click", function(){
        menu.style.display = "none";
      });
    };
  });
</script>

<style>
  .sub-footer-logo i {
    color: #fff;
    margin: 20px;
    font-size: 28px;
  }
  .sub-footer-logo a.main-logo {
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
  }
  .sub-footer-logo a.sub-logo {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
  }
</style>

<!-- ここからコピペ -->
<style>
  @media (max-width: 500px) {
    .sub-footer-content {
      overflow: auto;
    }
    .sub-footer-content a {
      margin: 0 40px;
    }
  }
  .sub-footer-menu-wrapper {
    display:none;
    min-width: 300px;
  }
  .sub-footer-menu {
    position: absolute;
    right: 0;
    bottom: 220px;
    width: 50vw;
    min-width: 300px;
    height: 200px;
    border-bottom: 2px solid #fff;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
    border-radius: 8px;
    z-index: 999;
  }
  .sub-footer-menu span {
    border-bottom: 1px solid #ddd;
    width: 80%;
    text-align: center;
  }
  .sub-footer-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
  }
  .sub-footer-content a {
    text-decoration: none;

  }
</style>
