<div class="report-form-container">
  <%= form_with model: report, url: create_comment_report_report_path(comment_id: comment.id) do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="form-group">
      <%= f.text_area :body, class: "form-control", placeholder: "報告理由を記載", onkeyup: "ShowLength(value);" %>
      <p id="inputlength">0文字/500文字</p>
    </div>
    <%= f.hidden_field :board_id, value: board.id %>
    <%= f.hidden_field :comment_id, value: comment.id %>
    <div class="buttons">
      <%= f.submit "送信", class: "form-control btn btn-outline-primary", id: "report-submit-button" %>
      <%= link_to "キャンセル", board_comments_path(board), class: "btn btn-outline-danger cancel-button" %>
    </div>
  <% end %>
</div>