<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render "shared/flash_message" %>
    <div class="background-cover" id="background-cover"></div>
    <div class="whole-wrapper">
      <% unless controller_name == "static_pages" %>
        <%= render "shared/header" %>
      <% end %>
      <%= yield %>
      <%= render "shared/sub_footer" %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
<style>
  @media (max-width: 1000px) {
    .whole-wrapper {
      padding-bottom: 220px;
    }
  }
  @media (min-width: 1000px) {
    .whole-wrapper {
      padding-bottom: 120px;
    }
  }
  .whole-wrapper {
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
  }
</style>
<script>
document.addEventListener("turbo:load", function () {
  const flashMessage = document.getElementById('flash-message'); 
  if (flashMessage) {
    let timeLeft = 5; // 表示時間を5秒に設定

    const countdownInterval = setInterval(function () {
      timeLeft--; // カウントダウン
      if (timeLeft <= 0) { // 0秒になったら
        clearInterval(countdownInterval); // タイマー停止
        flashMessage.remove(); // 要素を削除
        console.log("実行")
      }
    }, 1000); // 1秒ごとに実行
  }
});
</script>
<!-- オートコンプリート　-->
<script>
  function AutoComplete(str){
    const candidateContainer = document.getElementById("candidate-container");
    const candidateList = document.getElementById("candidate-list");
    const boards = document.querySelectorAll("[id^='hidden-board-']");
    const searchField = document.getElementById("search-field")
    const searchText = str
    const toHiragana = (text) => {
      return text.normalize("NFKC").replace(/[\u30A1-\u30F6]/g, (char) => {
        return String.fromCharCode(char.charCodeAt(0) - 0x60); // カタカナをひらがなに変換
      });
    };
    if (boards) {
      while (candidateList.firstChild) {
        candidateList.removeChild(candidateList.firstChild);
      };
      boards.forEach(board => {
        const duplicate = Array.from(candidateList.children).some(
          (child) => child.textContent === board.textContent
        );
        const normalizedSearchText = toHiragana(searchText);
        const boardText = toHiragana(board.innerHTML); 

        if ((board.innerHTML.toLowerCase().indexOf(searchText) >= 0 || boardText.indexOf(normalizedSearchText) >= 0) && !duplicate){
          const clone = board.cloneNode(true);
          clone.removeAttribute('id')
          candidateList.append(clone);
          candidateContainer.style.display = "block";
          clone.addEventListener("mouseover", function(){
            clone.classList.add("hight-light");
          });
          clone.addEventListener("mouseout", function(){
            clone.classList.remove("hight-light");
          });
          clone.addEventListener("click", function(){
            searchField.value = board.innerHTML;
            while (candidateList.firstChild) {
              candidateList.removeChild(candidateList.firstChild);
            };
            candidateContainer.style.display = "none";
          })
        };
      });
      if (searchText == "") {
        while (candidateList.firstChild) {
          candidateList.removeChild(candidateList.firstChild);
        };
        candidateContainer.style.display = "none";
      };
    };
  };
  document.getElementById("search-field").addEventListener("click", function() {
    AutoComplete(this.value);
  });
  document.addEventListener("turbo:load", function(){
    const candidateContainer = document.getElementById("candidate-container");
    const candidateList = document.getElementById("candidate-list");
    const searchField = document.getElementById("search-field");
    document.addEventListener("click", function(){
      candidateContainer.style.display = "none";
    });
    candidateContainer.addEventListener("click", function(e){
      e.stopPropagation();
    });
    searchField.addEventListener("click", function(e){
      e.stopPropagation();
    });
    
    if (candidateList.children.length !== 0) {
      searchField.addEventListener("click", function(){
      candidateContainer.style.display = "block";
    });
    };
  });
</script>

<style>
<%# ヘッダー・サブフッター %>
@media (max-width: 400px) {
  .search-form-container {
    width: 100%;
    white-space: nowrap;
  }
  .search-form-container input[type="search"] {
    width: 80%;
    min-width: 200px;
  }
  .search-form-container .candidate-container {
    width: 80%;
    min-width: 200px;
  }
  .mypage-container {
  display: none;
  }
  .mypage-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    top: -50%;
    display: none;
  }
  .logo {
    display: none;
  }
  .sub-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 120px;
    padding: 10px;
    height: 100px;
    background: #333;
    width: 100%;
    min-width: 300px;
    border-bottom: 2px solid #ddd;
    padding: 0 80px;
  }
  .sub-footer-content span {
    color: white;
    font-size: 50px;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
  
  .search-form-container {
    width: 100%;
    white-space: nowrap;
  }
  .search-form-container input[type="search"] {
    width: 85%;
    min-width: 250px;
  }
  .search-form-container .candidate-container {
    width: 85%;
    min-width: 250px;
  }
  .mypage-container {
    display: none;
  }
  .mypage-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    top: -50%;
    display: none;
  }
  .logo {
    display: none;
  }
  .sub-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 120px;
    padding: 10px;
    height: 100px;
    background: #333;
    width: 100%;
    min-width: 300px;
    border-bottom: 2px solid #ddd;
    padding: 0 80px;
  }
  .sub-footer-content span {
    color: white;
    font-size: 50px;
  }
}

@media (min-width: 600px) and (max-width: 1000px) {
  .search-form-container {
    width: 600px;
  }
  .search-form-container input[type="search"] {
    width: 90%;
  }
  .search-form-container .candidate-container {
    width: 90%;
  }
  .mypage-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    top: -50%;
    display: none;
  }
  .logo {
    display: none;
  }
  .sub-footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    position: absolute;
    bottom: 120px;
    background: #333;
    width: 100%;
    min-width: 300px;
    border-bottom: 2px solid #ddd;
    padding: 0 100px;
  }
  .sub-footer-content span {
    color: white;
    font-size: 50px;
  }
  .sub-footer-content a {
    text-decoration: none;
  }

}
@media (min-width: 1001px) {
  .search-form-container {
    width: 600px;
  }
  .search-form-container input[type="search"] {
    width: 90%;
  }
  .search-form-container .candidate-container {
    width: 90%;
  }
  .mypage-container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    top: -50%;
  }
  .logo {
    flex: 1;
  }
  .sub-footer-content {
    display: none;
  }
}
</style>

<style>
<%# // ページネーション %>
.pagination-left {
  position: absolute;
  bottom: 0;
  left: 45%;
  font-size: 40px;
}
.pagination-right {
  position: absolute;
  bottom: 0;
  right: 45%;
  font-size: 40px;
}
.previous-link {
  font-size: 50px;
  opacity: 1;
  color: pink;
}
.next-link {
  font-size: 50px;
  opacity: 1;
  color: pink;
}
.previous-link:hover {
  font-size: 60px;
}
.next-link:hover { 
  font-size: 60px;
}
.previous-link.disabled, .next-link.disabled {
  pointer-events: none;
}
.board-cards:hover .previous-link:not(.disabled) {
  opacity: 1;
}
.board-cards:hover .next-link:not(.disabled) {
  opacity: 1;
}
</style>
<style>
body {
  background: #F2EFEF;
}
</style>