<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Myapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render "shared/flash_message" %>
    <div class="whole-wrapper">
      <% unless controller_name == "static_pages" %>
        <%= render "shared/header" %>
      <% end %>
      <%= yield %>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
<style>
  .whole-wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
    box-sizing: border-box;
  }
</style>
<script>
document.addEventListener("turbo:load", function () {
  const flashMessage = document.getElementById('flash-message'); 
  if (flashMessage) {
    let timeLeft = 5; // 表示時間を5秒に設定

    const countdownInterval = setInterval(function () {
      timeLeft--; // カウントダウン
      if (timeLeft <= 0) { // 0秒になったら
        clearInterval(countdownInterval); // タイマー停止
        flashMessage.remove(); // 要素を削除
        console.log("実行")
      }
    }, 1000); // 1秒ごとに実行
  }
});
</script>
